p {
  font-family: Lato;
}

.d-none {
  display: none;
}

.table-container {
  overflow: auto;
  table {
    width: 100%;
  }
  th, td {
    padding: 0 1rem;
  }
  th:nth-child(1) {
    width: 20px;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
  }
  .no-default-height {
    height: unset;
  }
  .filters-container {
    overflow: hidden;
    max-height: 0px;
    transition: max-height .5s ease-in-out;
    &.animate {
      max-height: 60px !important;
    }
  }
}